<body>
    <header>
        <h1 _ngcontent-ng-c2314729219="" class="mb-md-2">VISI - MISI SMKN 7 BATAM</h1>
    </header>

    <section class="program-info">
        <h2>VISI</h2>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“TERWUJUDNYA PESERTA DIDIK YANG BERIMAN, BERTAQWA KEPADA
        TUHAN YANG MAHA ESA DAN BERAKHLAK MULIA TERAMPIL, UNGGUL, BERDAYA SAING GLOBAL DI ERA TEKNOLOGI DIGITAL.”
        <br><br>
        <h2>MISI</h2>
        <p>1. MELAKUKAN PEMBINAAN SIKAP DAN KARAKTER PROFIL PELAJAR PANCASILA
        </p>
        <p>2. MENINGKATKAN PEMBELAJARAN BERMUTU YANG BERBASIS TEKNOLOGI</p>
        <p>3. MENGEMBANGKAN MINAT, BAKAT DAN POTENSI PESERTA DIDIK</p>
        <p>4. MEMENUHI SARAN DAN PRASARANA SESUAI DENGAN STANDAR DUNIA KERJA</p>
        <p>5. MENINGKATKAN KUALITAS KERJASAMA PROGRAM LINK AND MATCH DENGAN DUNIA KERJA</p>
        <p>6. MENGEMBANGKAN PENDIDIKAN DAN PELATIHAN BERBASIS TEKNOLOGI INFORMASI</p>
        <p>7. MENINGKATKAN ETOS KERJA PENDIDIK DAN TENAGA KEPENDIDIKAN</p>
        <p>8. MEMBANGUN HUBUNGAN BAIK DENGAN MASYARAKAT DAN LINGKUNGAN</p>
        <p>9. MELAKSANAKAN PENDIDIKA VOKASI YANG KOMPETEN BERSTANDAR DUNIA KERJA DAN SERTIFIKASI NASIONAL MAUPUN INTERNASIONAL</p>
</section>
</body>

        