<body>
    <header>
        <h1 style="text-align: left;" class="mt-4 pt-md-4">STRUKTUR SMK NEGERI 7 BATAM</h1>
    </header>

    <section class="program-info" style="text-align: left;">
        BAGIAN STRUKTUR ORGANISASI SMK NEGERI 7 BATAM TAHUN PELAJARAN 2023/2024
        <br><br>
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720428130/SMK7/StrukturOrganisasi/ojuqo2uhvx7y7jaomy0h.jpg"
                alt="Placeholder" width="1100" height="900" class="me-2">
        </a>
    </section>
</body>