<br><br><br><br>
<div class="container">
    <h1 class="section-title">INFORMASI PESERTA DIDIK</h1>
    <p class="text-left col-ml-4">Jumlah Peserta Didik SMK Negeri 7 Batam Tahun Ajaran 2024/2025</p>
    <div class="row justify-content-center">
        <div class="col-md-4 col-lg-3">
            <div class="program-card">
                <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1722313713/SMK7/Jurusan/Logo/fqk7bl1gua9ydwv7nxg5.png"
                    alt="Logo DKV">
                <div class="program-title">DKV</div>
                <div class="student-count">488</div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="program-card">
                <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720425777/SMK7/Jurusan/Logo/qz5gccwcmzzy8p6xrvug.png"
                    alt="Logo RPL">
                <div class="program-title">RPL</div>
                <div class="student-count">334</div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="program-card">
                <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720426221/SMK7/Jurusan/Logo/ftkvjvcuqxqrdihtkzx5.png"
                    alt="Logo TITL">
                <div class="program-title">TITL</div>
                <div class="student-count">428</div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="program-card">
                <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720426750/SMK7/Jurusan/Logo/fkjyweeq0ixlhcoiszkl.png"
                    alt="Logo TJAT">
                <div class="program-title">TJAT</div>
                <div class="student-count">267</div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="program-card">
                <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427179/SMK7/Jurusan/Logo/gaystgfeosnndgt4zovl.png"
                    alt="Logo TKJ">
                <div class="program-title">TKJ</div>
                <div class="student-count">561</div>
            </div>
        </div>
    </div>
</div>