<header>
    <h1 _ngcontent-ng-c3371962724="" class="mt-4 ms-2 pt-md-4">KONSENTRASI KEAHLIAN TEKNIK INSTALASI TENAGA LISTRIK
        (TITL)
    </h1>
</header>

<section>
    <div class="container">
        <!-- Left Section: Logo and Alumni -->
        <div class="left-section">
            <!-- Logo -->
            <div class="logo-section">
                <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720426221/SMK7/Jurusan/Logo/ftkvjvcuqxqrdihtkzx5.png"
                    alt="School Logo">
            </div>

            <!-- Alumni Section -->
            <div class="alumni-section">
                <h2>Lulusan Alumni Konsentrasi Keahlian TITL</h2>
                <ol>
                    <li>Teknisi Listrik</li>
                    <li>Insinyur Listrik</li>
                    <li>Ahli Otomasi Industri</li>
                    <li>Perancang Sistem Tenaga Listrik</li>
                    <li>Teknisi Kontrol Proses</li>
                    <li>Teknisi Elektronika</li>
                    <li>Perancang Papan Sirkuit (PCB)</li>
                    <li>Perancang Sistem Kendali</li>
                    <li>Ahli Instrumentasi</li>
                </ol>
            </div>
        </div>

        <!-- Right Section: Visi and Misi -->
        <div class="right-section">
            <div class="visi-misi">
                <h2>Visi</h2>
                <p>“Menjadi Lembaga Pendidikan Berstandar Nasional Dan Internasional Yang Menghasilkan Tamatan Yang
                    Berakhlak Mulia, Berkualitas, Bermutu, Berinovatif, Siap Kerja, Kompeten Dan Tersertifikasi Dalam
                    Bidang Multimedia Sesuai Dengan Kebutuhan Dunia Usaha Dan Dunia Industri.”</p>
                <br>
                <h2>Misi</h2>
                <ol>
                    <li>Membekali Peserta didik dengan Keimanan, ketaqwaan, ilmu pengetahuan dan teknologi.</li>
                    <br>
                    <li>Meningkatkan kualitas tenaga pendidik dan kependidikan yang menuhi kualifikasi dan kompetensi
                        standar Nasional dan Internasional</li>
                    <br>
                    <li>Meningkatkan fasilitas sapras dan lingkungan belajar yang nyaman memenuhi standar kualitas dan
                        kuantitas.</li>
                    <br>
                    <li>Mengembangkan kurikulum menuju ‘Link and Match’ Pendidikan dan Dunia Kerja, untuk meningkatkan
                        relevansi pendidikan tinggi dengan kebutuhan tenaga kerja.</li>
                    <br>
                    <li>Membangun kerjasama (MoU) dengan lembaga yang relevan baik dalam Negeri maupun luar Negeri.</li>
                    <br>
                    <li>Berkompetisi dengan Program keahlian yang sama demi mengasah mental dan mengukur keterampilan
                        siswa dibidang ketenagalistrikan, serta menyelenggarakan kegiatan ekstrakurikuler agar peserta
                        didik mampu mengembangkan kecakapan hidup (life skill) dan berakhlak mulia.</li>
                    <br>
                    <li>Meningkatkan kualitas siswa dengan membentuk karakter, menanamkan rasa disiplin terhadap waktu
                        dan menghasilkan lulusan yang dapat bersaing di dunia industri serta dapat melanjutkan
                        pendidikan ke jenjang yang lebih tinggi.</li>
                </ol>
            </div>
        </div>
    </div>
</section>