<header>
    <h1>Galeri Video</h1>
    <div class="gallery">
        <!-- Video 1 -->
        <iframe src="https://www.youtube.com/embed/UidaQt3FE3I?si=BbSprh5XPO5k1hVr  " allowfullscreen></iframe>
        <!-- Video 2 -->
        <iframe src="https://www.youtube.com/embed/KvgFkZMnOLI" allowfullscreen></iframe>
        <!-- Video 3 -->
        <iframe src="https://www.youtube.com/embed/Po0vakP6jUI" allowfullscreen></iframe>
        <!-- Video 4 -->
        <iframe src="https://www.youtube.com/embed/3uJa1ECajbw" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/woC-Ot_jHs8?si=0MM0iJK6UNrOrxkK" allowfullscreen></iframe>
        

    </div>
</header>
