<nav class="navbar navbar-expand-lg" [class.scrolled]="isScrolled()" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header id="home">
  <div class="header-image">
    <div class="header-overlay"></div>
    <div class="header-content visible">
      <b>
        <h1>SMK NEGERI 7 BATAM</h1>
      </b>
      <p>SMK Negeri 7 Batam Mewujudkan Peserta Didik yang Beriman, Bertaqwa kepada
        TUHAN YANG MAHA ESA dan Berakhlak Mulia, Terampil, Unggul, dan Berdaya Saing
        Global di Era Teknologi Digital.</p>
      <a href="#productos" class="btn btn-primary">Explorar Ahora</a>
    </div>
  </div>
</header>


<section class="welcome-section">
  <div class="container">
      <div class="profile-container">
          <div class="profile-image">
              <img src="https://via.placeholder.com/250" alt="Kepala SMK Negeri 7 Batam" class="img-fluid">
          </div>
          <div class="profile-content">
              <h2>KATA SAMBUTAN</h2>
              <h3>KEPALA SMK NEGERI 7 BATAM</h3>
              <h4>Nursya'bani, M.Pd.</h4>
              <p>Selamat datang di situs resmi SMK Negeri 7 Batam. Saya, Nursya'bani, M.Pd., Kepala SMK Negeri 7 Batam, menyampaikan sambutan hangat kepada Anda melalui platform ini sebagai sarana informasi dan komunikasi untuk mendukung pendidikan bermutu tinggi dengan motto Inovatif dan Berbudaya.</p>

              <p>Dengan komitmen kuat untuk membentuk siswa berkompeten dan berdaya saing global, kami mengadopsi pendekatan holistik dan inovatif yang mengikuti perkembangan zaman. Situs ini menyajikan informasi komprehensif mengenai kegiatan sekolah, prestasi siswa, program pembelajaran, serta acara ekstrakurikuler, sambil mengajak seluruh pemangku kepentingan untuk berperan aktif dalam upaya pengembangan ini.</p>

              <a href="#" class="btn btn-custom btn-lg text-white">Lihat Profil</a>
          </div>
      </div>
  </div>
</section>