<body>
  <header>
    <h1 _ngcontent-ng-c2314729219="" class="mb-md-2">SEJARAH SMKN 7 BATAM</h1>
  </header>

  <section class="program-info">
    <h2>Riwayat Singkat Sekolah</h2>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Awal berdirinya SMK Negeri 7 Batam adalah untuk memenuhi
    tuntutan pasar kerja pada saat itu tahun 2013. SMK Negeri 7 Batam berdiri di lokasi Perum Sekawan Pemko Batam
    Kelurahan Belian Kecamatan Batam Kota. Konsentrasi Keahlian yang dibuka saat itu meliputi Administrasi Perkantoran
    dan Perbankan dan Keuangan Mikro berdasarkan akte pendirian nomor : KPTS. 367/HK/IX/2014. Pada tahun 2015 SMK Negeri
    7 Batam, menambah konsentrasi keahlian Teknik Jaringan Akses Telekomunikasi. Perdirjen Dikdasmen No. 06/D.D5/KK/2018
    tanggal 7 Juni 2018 tentang Spektrum Keahlian Sekolah Menengah Kejuruan (SMK)/Madrasah Aliyah Kejuruan (MAK)
    memberikan panduan tentang Bidang Keahlian (Jurusan) yang ada di SMK Negeri 7 Batam.
    <br><br>
    <p>Konsentrasi keahlian di SMK Negeri 7 Batam mencakup bidang yang sangat relevan dengan kebutuhan industri saat
      ini. Berikut penjelasan singkat tentang masing-masing konsentrasi keahlian yang ada di SMK Negeri 7 Batam :</p>

    <div class="program">
      <strong _ngcontent-ng-c2314729219="">1. Design Komunikasi Visual (DKV)</strong>
      <p>Program ini fokus pada pengembangan kemampuan dalam mendesain visual untuk komunikasi, seperti desain grafis,
        desain web, animasi, dan branding. Lulusannya diharapkan dapat bekerja di industri kreatif, seperti periklanan,
        desain grafis, dan media digital.</p>

    </div>

    <div class="program">
      <strong _ngcontent-ng-c2314729219="">2. Rekayasa Perangkat Lunak (RPL)</strong>
      <p>Konsentrasi ini mengajarkan siswa tentang pengembangan perangkat lunak, termasuk pemrograman, pengujian
        perangkat lunak, dan manajemen basis data. Lulusan program ini diharapkan memiliki keahlian untuk bekerja
        sebagai pengembang perangkat lunak, analis sistem, atau administrator basis data.</p>
    </div>

    <div class="program">
      <strong _ngcontent-ng-c2314729219="">3. Teknik Komputer dan Jaringan (TKJ)</strong>
      <p>Fokus utama program ini adalah pada pemasangan, konfigurasi, dan pemeliharaan jaringan komputer serta perangkat
        keras terkait. Lulusan dari program TKJ memiliki peluang karir di bidang teknologi informasi dan komunikasi,
        seperti teknisi jaringan, administrator sistem, dan spesialis keamanan jaringan.</p>
    </div>

    <div class="program">
      <strong _ngcontent-ng-c2314729219="">4. Teknik Jaringan Akses Telekomunikasi (TJAT)</strong>
      <p>tentang teknologi dan perangkat yang digunakan dalam jaringan akses telekomunikasi, termasuk pemasangan,
        pengujian, dan pemeliharaan infrastruktur jaringan telekomunikasi. Lulusannya cocok untuk bekerja di perusahaan
        telekomunikasi, sebagai teknisi lapangan, atau dalam pengelolaan infrastruktur jaringan.</p>
    </div>

    <div class="program">
      <strong _ngcontent-ng-c2314729219="">5. Teknik Instalasi Tenaga Listrik (TITL)</strong>
      <p>Program ini mengajarkan tentang instalasi, pemeliharaan, dan perbaikan sistem tenaga listrik. Ini termasuk
        pengetahuan tentang kabel, alat ukur listrik, dan sistem distribusi listrik. Lulusan dari program ini dapat
        bekerja dalam berbagai sektor, termasuk pembangkit tenaga listrik, perusahaan distribusi listrik, dan sebagai
        teknisi instalasi listrik di proyek konstruksi.</p>

      <p>Setiap konsentrasi keahlian di SMK Negeri 7 Batam dirancang untuk mempersiapkan siswanya dengan pengetahuan dan
        keterampilan praktis yang dibutuhkan oleh industri terkait, membuka berbagai peluang karir di masa depan.</p>
    </div>


    <section class="school-data">
      <h2>Data Sekolah</h2>
      <ul>
        <li><strong>Nama Sekolah:</strong> SMK Negeri 7 Batam</li>
        <li><strong>Jenis Sekolah:</strong> Kejuruan Teknologi</li>
        <li><strong>Didirikan Pada:</strong> Juli 2013</li>
        <li><strong>NSS/NPSN:</strong> 401316012001 / 69774885</li>
        <li><strong>Kepala Sekolah:</strong> NURSYA'BANI, M.Pd</li>
      </ul>
    </section>

    <section class="additional-info">
      <h2>Informasi Terkait</h2>
      <ul>
        <li><strong>Alamat:</strong> Perum Sekawan Pemko Batam</li>
        <li><strong>Kelurahan:</strong> Belian Kecamatan Batam Kota</li>
        <li><strong>Website:</strong> <a href="https://smknegeri7batam.sch.id"
            target="_blank">smknegeri7batam.sch.id</a></li>
      </ul>
    </section>



  </section>
</body>