<br><br>    
<div class="container">
    <h1 class="section-title">INFORMASI PESERTA DIDIK</h1>
    <p class="text-left col-ml-4">Jumlah Peserta Didik SMK Negeri 7 Batam Tahun Ajaran 2024/2025</p>
    <div class="row justify-content-center">
        

        <h2 class="with-line">2021</h2>            
        
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720429552/SMK7/InformasiPemetaanKelulusan/hccjtxjphydasovewgdu.jpg"
                alt="Placeholder" width="1000" height="800" class="me-2">
        </a>

        <h2 class="with-line">2020</h2>   
        <br><br>
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720429511/SMK7/InformasiPemetaanKelulusan/q8nkriyopitteyjttown.jpg"
                alt="Placeholder" width="1000" height="800" class="me-2">
        </a>     

      
        <h2 class="with-line">2019</h2>   
        <br><br>
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720429495/SMK7/InformasiPemetaanKelulusan/p9pujkgpngbzmrpqlu3g.jpg"
                alt="Placeholder" width="1000" height="800" class="me-2">
        </a>     