body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    padding: 30px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #FFA500;
    text-align: left;
    border-bottom: 3px solid #808080;
    padding-bottom: 10px;
    width: 41%;
}

h2 {
    color: #FFA500;
    padding-bottom: 10px;
}

section ol li p {
    color: #555;
    font-size: 20px;
    line-height: 1.8;
    margin-top: -20px;
    padding-left: 20    px;
    border-left: 3px solid #FFA500;
    transition: color 0.3s ease;
}

section ol li p:hover {
    color: #333;
    border-left-color: #808080;
}

section ol {
    padding-left: 30px;
}

section ol li {
    margin-bottom: 15px;
    list-style-type: decimal;
}