<br><br><br><br><br><br><br>
<div class="container">
  <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427364/SMK7/Guru/qckxwehxtsshzpzz5qhx.jpg"
    alt="Gambar" class="image-left">
  <div class="text">
    <h2>Judul Teks</h2>
    <p>Deskripsi atau konten lainnya.</p>
  </div>
</div>

<hr class="garis">

<body>
  <div class="section">
    <h2>WAKIL KEPALA SEKOLAH</h2>
    <div class="card-container">
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738143/SMK7/Guru/jraa5wqa5xgeakdylghd.jpg"
          alt="Wakasek Bidang Kurikulum">
        <h3>Wakasek Bidang Kurikulum</h3>
        <p>Adam Kriszal, S.Kom, Gr., S.Pd., M.M.</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427399/SMK7/Guru/udf8lk6ecpmr79nt9nl2.jpg"
          alt="Wakasek Bidang Kesiswaan">
        <h3>Wakasek Bidang Kesiswaan</h3>
        <p>Edo Pramudia, S.Pd.</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427715/SMK7/Guru/jakiclhxydzchm9hn5vr.jpg"
          alt="Wakasek Bidang Sarana Prasarana">
        <h3>Wakasek Bidang Sarana Prasarana</h3>
        <p>Drs. Akbar Haskim</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738188/SMK7/Guru/skphprnmdckrmbspykeo.jpg"
          alt="Wakasek Bidang Humas">
        <h3>Wakasek Bidang Humas</h3>
        <p>Enjang Suhaedin, S.Pd., Gr., M.M.</p>
      </div>
    </div>
  </div>

  <div class="section">
    <h2>KETUA KONSENTRASI KEAHLIAN</h2>
    <div class="card-container">
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427506/SMK7/Guru/sgrytqunaptqiadejkeq.jpg"
          alt="Ketua 1">
        <p>Donni Luther Malau, S.SI</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427578/SMK7/Guru/nl1qdb58xjdnsmonrnvc.jpg"
          alt="Ketua 2">
        <h3>Ketua 2</h3>
        <p>Sulistyaningsih, S.Kom</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738237/SMK7/Guru/ttbqe0sac7uixk9vfy87.jpg"
          alt="Ketua 3">
        <p>Hendro Budi P, S.Kom</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724696971/SMK7/Guru/pedb36lri0riit7nb6on.jpg"
          alt="Ketua 4">
        <p>Frans Taqwa Dewantara Halim, S.Kom.</p>
      </div>

      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724696971/SMK7/Guru/pedb36lri0riit7nb6on.jpg"
          alt="Ketua 4">
        <p>Hegi Prisjend Seputra, S.Pd</p>
      </div>
    </div>
  </div>


  <div class="section">
    <h2>KEPALA PERPUSTAKAAN</h2>
    <div class="card-container">
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738498/SMK7/Guru/nwk7t1clep7ht1kdtwt6.jpg"
          alt="Ketua 1">
        <p>Siti Istikomah, S.Pd</p>
      </div>
    </div>
  </div>


  <div class="section">
    <h2>GURU MULTIMEDIA</h2>
    <div class="card-container">
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427429/SMK7/Guru/zpphpwqaayauclltyru3.jpg"
          alt="Ketua 1">
        <p>Andi Zainal, M.Kom</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427471/SMK7/Guru/mxs3bawxnsuxebbshfrd.jpg"
          alt="Ketua 1">
        <p>Dian Wirdhana, S.Kom</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427598/SMK7/Guru/pi8wozgdguayngrvdze1.jpg"
          alt="Ketua 1">
        <p>Abdul Rahman S, SE</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427674/SMK7/Guru/irbod8shkodvepb2lgqo.jpg"
          alt="Ketua 1">
        <p>Apda Herni, S.Pd.I</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427781/SMK7/Guru/dkhixfwkekhitcx6jmmu.jpg"
          alt="Ketua 1">
        <p>Ellys S Nainggolan, S.Pd</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427809/SMK7/Guru/cwnddkrdmezpyfuc1pxi.jpg"
          alt="Ketua 1">
        <p>A. Chandra Juni V, S.Pd</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697025/SMK7/Guru/eahcobjq1cavyzbuejsx.jpg"
          alt="Ketua 1">
        <p>Osmarida Dewi. S.Pd</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738544/SMK7/Guru/wxp7ihoqujdru7ae35cw.jpg"
          alt="Ketua 1">
        <p>Matius Lase, S.Pd, K</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738560/SMK7/Guru/iixkul8qvqu4y1sc2k65.jpg"
          alt="Ketua 1">
        <p>Kemuning, S.Kom</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738581/SMK7/Guru/pu6qbh79dtif16uqtxh5.jpg"
          alt="Ketua 1">
        <p>Rahmawati, SE
        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697039/SMK7/Guru/gbol6zu6qfhkxw0sjpm2.jpg"
          alt="Ketua 1">
        <p>Yulis Intan Permata Sari
        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697039/SMK7/Guru/gbol6zu6qfhkxw0sjpm2.jpg"
          alt="Ketua 1">
        <p>Popon Sucimiasih, S.Pd
        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738644/SMK7/Guru/e7bcye2mlbomsrkokmgo.jpg"
          alt="Ketua 1">
        <p>Muhammad Taufik B, S.T, M.Kom
        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697061/SMK7/Guru/oktsuluoqqdotdbwdy7z.jpg"
          alt="Ketua 1">
        <p>Hadi Saputro, S.Kom
        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697061/SMK7/Guru/oktsuluoqqdotdbwdy7z.jpg"
          alt="Ketua 1">
        <p>Mayumi Itshuwa, S.Ds
        </p>
      </div>
    </div>
  </div>


  <div class="section">
    <h2>GURU REKAYASA PERANGKAT LUNAK</h2>
    <div class="card-container">
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427834/SMK7/Guru/hb6l466tmxh3uhxmcfip.jpg"
          alt="Ketua 1">
        <p>Elia Rita, S.Pd.I</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427883/SMK7/Guru/b3xqafvn5t9y5s9zddaf.jpg"
          alt="Ketua 1">
        <p>Dewi Indah S, S.Pd        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427883/SMK7/Guru/b3xqafvn5t9y5s9zddaf.jpg"
          alt="Ketua 1">
        <p>Enggi Febriani, S.Pd        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738718/SMK7/Guru/hb4ouhmqmflx2n3rxtx3.jpg"
          alt="Ketua 1">
        <p>Nurhafizah Hayati, S.Pd        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697088/SMK7/Guru/n4wfrvroswqlmk2zfda7.jpg"
          alt="Ketua 1">
        <p>Debby Fransurya, S.Kom        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738751/SMK7/Guru/ufsoxxmy3uo5e28ambb4.jpg"
          alt="Ketua 1">
        <p>Frahmi Any, S.Kom        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738770/SMK7/Guru/p4bzc7vb3ohvhaf5fkza.jpg"
          alt="Ketua 1">
        <p>Ririn Oktavia, S.Pd</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697097/SMK7/Guru/hebg1q3eoibf09pbdvak.jpg"
          alt="Ketua 1">
        <p>Juminah, S.Pd        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697097/SMK7/Guru/hebg1q3eoibf09pbdvak.jpg"
          alt="Ketua 1">
        <p>Adetya Rakasihwi, S.Pd. Gr., M.M        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697097/SMK7/Guru/hebg1q3eoibf09pbdvak.jpg"
          alt="Ketua 1">
        <p>Sri Ilyen, S.Pd., Gr., M.Pd.T
        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697097/SMK7/Guru/hebg1q3eoibf09pbdvak.jpg"
          alt="Ketua 1">
        <p>Retnawati, S.Pd., M.Pd
        </p>
      </div>
    </div>
  </div>


  <div class="section">
    <h2>GURU TEKNIK INSTALASI TENAGA LISTRIK    </h2>
    <div class="card-container">
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720427525/SMK7/Guru/zla4iuvozhtkeim4ntbn.jpg"
          alt="Ketua 1">
        <p>Hendra Purnama, S.Pd        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738845/SMK7/Guru/ybrb2v7vyejs96xskulq.jpg"
          alt="Ketua 1">
        <p>Hendri Bayu S, S.Pd        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738864/SMK7/Guru/m4uwbrttk9g9wfcitxfe.jpg"
          alt="Ketua 1">
        <p>Joni Putra, S.Kom.        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738882/SMK7/Guru/pngwyx9floxunqrp1vbe.jpg"
          alt="Ketua 1">
        <p>Adi Prabowo, S.Pd       </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738898/SMK7/Guru/ndx9ctoosckd9hj6r5om.jpg"
          alt="Ketua 1">
        <p>Alan Surya P, M.Pd.T        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738917/SMK7/Guru/j2fnvc2bolv6cpfbtl92.jpg"
          alt="Ketua 1">
        <p>Muhammad Fajar P, S.Pd        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738932/SMK7/Guru/fritzxee9kfy2o7qepr0.jpg"
          alt="Ketua 1">
        <p>Serly Fatiyas, S.Pd        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697153/SMK7/Guru/kdqfmpthlpxfnbhhfan5.jpg"
          alt="Ketua 1">
        <p>Nurhasanah, S.Pd.I</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721738965/SMK7/Guru/ddf7nzmigpdtialxl94k.jpg"
          alt="Ketua 1">
        <p>Ratih Aresta Komala, S.Pd.I        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697097/SMK7/Guru/hebg1q3eoibf09pbdvak.jpg"
          alt="Ketua 1">
        <p>Erlan Juarsa, S.T
        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697097/SMK7/Guru/hebg1q3eoibf09pbdvak.jpg"
          alt="Ketua 1">
        <p>Zulfikar AS
        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697097/SMK7/Guru/hebg1q3eoibf09pbdvak.jpg"
          alt="Ketua 1">
        <p>Candra Zulham Sinaga, S.Pd
        </p>
      </div>
    </div>
  </div>

  <div class="section">
    <h2>GURU TEKNIK JARINGAN AKSES TELEKOMUNIKASI    </h2>
    <div class="card-container">
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739032/SMK7/Guru/baku5n8jdts7accbnapd.jpg"
          alt="Ketua 1">
        <p>Uswatun Hasanah, S.Pd </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739053/SMK7/Guru/pm1riazmyfnnzq7wqr2v.jpg"
          alt="Ketua 1">
        <p>Fitriandriyani, S.Pd, M.M</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739069/SMK7/Guru/y2lnekokj9dysdl6vi98.jpg"
          alt="Ketua 1">
        <p>Eniwati, S.Pd</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739087/SMK7/Guru/scxveryswmaszghwmwnl.jpg"
          alt="Ketua 1">
        <p>Mariam Agustini, S.Pd</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739105/SMK7/Guru/raraiwt1y5xypbrzjv0h.jpg"
          alt="Ketua 1">
        <p>Media Rosa, S.Pd</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739124/SMK7/Guru/zclxiwtfwsiw7zpm3uty.jpg"
          alt="Ketua 1">
        <p>Nola Fitri, S.Pd     </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739140/SMK7/Guru/y8cd6obir4ttwftotykk.jpg"
          alt="Ketua 1">
        <p>Robi Akbari, S.Pd</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739160/SMK7/Guru/k9etdiaeue9ouaheetos.jpg"
          alt="Ketua 1">
        <p>Wahyu Arnizamiati, S.Pd        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739174/SMK7/Guru/bbms8dusnxz2ll8p293t.jpg"
          alt="Ketua 1">
        <p>Susi Susanti, S.Pd </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697097/SMK7/Guru/hebg1q3eoibf09pbdvak.jpg"
          alt="Ketua 1">
        <p>Hartini, S.E
        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697097/SMK7/Guru/hebg1q3eoibf09pbdvak.jpg"
          alt="Ketua 1">
        <p>Adliza, S.Pd
        </p>
      </div>
    </div>
  </div>

  <div class="section">
    <h2>GURU TEKNIK KOMPUTER DAN JARINGAN    </h2>
    <div class="card-container">
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739219/SMK7/Guru/i3qcq3ktzlqg5tbqiqnb.jpg"
          alt="Ketua 1">
        <p>Iskandar, S.Kom</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739237/SMK7/Guru/z2qsdmvhwhhjqzaozvuv.jpg"
          alt="Ketua 1">
        <p>Paulyna Habeahan,S.Sos</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739252/SMK7/Guru/byxhxdrxyntzwiffgq6h.jpg"
          alt="Ketua 1">
        <p>Melni Dwita, S.Pd., Gr</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739303/SMK7/Guru/evvjxndvby6eb0zg5hwj.jpg"
          alt="Ketua 1">
        <p>Saniah, S.Pd.I</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739336/SMK7/Guru/l2elkrxrwhskszpmxoji.jpg"
          alt="Ketua 1">
        <p>Kholiq Jauhari, S.Ag</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739352/SMK7/Guru/gobtc0kro2huzkdscmuk.jpg"
          alt="Ketua 1">
        <p>Nola Fitri, S.Pd     </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739140/SMK7/Guru/y8cd6obir4ttwftotykk.jpg"
          alt="Ketua 1">
        <p>Robi Akbari, S.Pd</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739160/SMK7/Guru/k9etdiaeue9ouaheetos.jpg"
          alt="Ketua 1">
        <p>Wahyu Arnizamiati, S.Pd        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1721739174/SMK7/Guru/bbms8dusnxz2ll8p293t.jpg"
          alt="Ketua 1">
        <p>Susi Susanti, S.Pd </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697097/SMK7/Guru/hebg1q3eoibf09pbdvak.jpg"
          alt="Ketua 1">
        <p>Hartini, S.E
        </p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1724697097/SMK7/Guru/hebg1q3eoibf09pbdvak.jpg"
          alt="Ketua 1">
        <p>Adliza, S.Pd
        </p>
      </div>
    </div>
  </div>

  
</body>