<header id="home">
    <div class="header-image">
        <div class="header-overlay"></div>
        <div class="header-content visible">
            <b>
                <h1>SMK NEGERI 7 BATAM</h1>
            </b>
            <p>SMK Negeri 7 Batam Mewujudkan Peserta Didik yang Beriman, Bertaqwa kepada
                TUHAN YANG MAHA ESA dan Berakhlak Mulia, Terampil, Unggul, dan Berdaya Saing
                Global di Era Teknologi Digital.</p>
            <a href="#productos" class="btn btn-primary">Explorar Ahora</a>
        </div>
    </div>
</header>


<section class="welcome-section">
    <div class="container">
        <div class="profile-container">
            <div class="profile-image">
                <img src="https://res.cloudinary.com/dtsb4grc6/image/upload/v1720424987/SMK7/SambutanKepalaSekolah/zlefenxg07s5h7jsktda.jpg"
                    alt="Kepala SMK Negeri 7 Batam" class="img-fluid">
            </div>
            <div class="profile-content">
                <h2>KATA SAMBUTAN</h2>
                <h3>KEPALA SMK NEGERI 7 BATAM</h3>
                <h4>Nursya'bani, M.Pd.</h4>
                <p>Selamat datang di situs resmi SMK Negeri 7 Batam. Saya, Nursya'bani, M.Pd., Kepala SMK Negeri 7
                    Batam,
                    menyampaikan sambutan hangat kepada Anda melalui platform ini sebagai sarana informasi dan
                    komunikasi untuk
                    mendukung pendidikan bermutu tinggi dengan motto Inovatif dan Berbudaya.</p>

                <p>Dengan komitmen kuat untuk membentuk siswa berkompeten dan berdaya saing global, kami mengadopsi
                    pendekatan
                    holistik dan inovatif yang mengikuti perkembangan zaman. Situs ini menyajikan informasi komprehensif
                    mengenai
                    kegiatan sekolah, prestasi siswa, program pembelajaran, serta acara ekstrakurikuler, sambil mengajak
                    seluruh
                    pemangku kepentingan untuk berperan aktif dalam upaya pengembangan ini.</p>

                <a href="#" class="btn btn-custom btn-lg text-white">Lihat Profil</a>
            </div>
        </div>
    </div>
</section>

<!-- Navbar Mini -->
<nav class="mini-navbar">
    <h1>IDENTITAS SEKOLAH</h1>
    <a href="#home">Identitas Sekolah</a>
    <a href="#kontak">Kontak</a>
    <a href="#ketersediaan">Ketersediaan</a>
</nav>