<body>
    <header>
        <h1>SARANA DAN PRASARANA</h1>
    </header>

    <section class="program-info">
        <p class="section-description">
            Fasilitas Penunjang Pembelajaran SMK Negeri 7 Batam
        </p>
        
        <h1 class="secondary-title">Gambar Induk Pengembangan SMK Negeri 7 Batam</h1>
        
        <div class="navbar-brand">
            <img src="https://smknegeri7batam.sch.id/assets/Gambar-site-plane-smkn7.jpg"
                alt="Gambar Induk Pengembangan SMKN 7 Batam" 
                width="1100" 
                height="900">
        </div>
    </section>
</body>